*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header  {
    height: 100px;
    background-color: rgb(19, 19, 71);
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

.logo {
    height: 100px;
}

.logo img{
    height: 80px;
}

main {
    background-color: cadetblue;
}

.card-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.card {
    width: calc((100% - 8rem) / 3);
    background-color: rgb(9, 9, 67);
    gap: 10px;
    color: white;
}

.selected {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    z-index: 1;
  }